# STM32H563ZI Nucleo board configuration

# Copyright (c) 2023 Thomas Stranger
# SPDX-License-Identifier: Apache-2.0

config BOARD_MY_NUCLEO_H563ZI
	bool "MY NUCLEO H563ZI Board"
	depends on SOC_STM32H563XX
